.base-button {
    border:none;
    border-radius: 16px;
    width: 110px;
    height: 24px;
    padding: 6px 11px;
    font-size: 11px;
    font-family: "GothamMedium";
}

.in-development {
    background-color:#CCD4D7;
    color: #1D4289
}

.pre-contract {
    background-color:#1D4289;
    color: #FFFFFF
}

.in-construction{
    background-color: #F7BB39;
    color: #002A3A;
}

.operating{
    background-color: #05A569;
    color:#FFFFFF
}

.cancelled {
    background-color: red;
    color:#FFFFFF
}