
.container {
    padding: 17px 15px;
    padding-top: 24px;
    
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.range-slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}


input[type="range"] {
    appearance: none;
    position:absolute;
    width: 100%;
    z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 0; 
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(204, 212, 215, 1);
    cursor: pointer;
    border-radius: 50%;
    margin-top: -12.5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 6px; 
    border-radius: 16px;
    background-color: rgba(204, 212, 215, 1);   
}


.display-range{
    display: flex;
    align-items: center;
    gap:25px;
    justify-content: space-between;
}

.display-range span {
    color:rgba(52, 79, 95, 1)
}

.values-container {
    /* width: 50%; */
    position: relative;
}

.values {
    background-color: white;
    border: 1px solid rgba(204, 212, 215, 1);
    border-radius: 16px;
    padding: 13px 11px;
    padding-left:18px;
    color:rgba(0, 42, 58, 1);
    
}

.value-title {
    position: absolute;
    top:-10px;
    left: 16px;
    background-color: white;
    color: rgba(52, 79, 95, 1);
    padding: 0 3px;
    font-size: 13px;
    font-family: "GothamMedium";
}