.table {  
    padding: 10px 17px;
    background-color: rgba(255,255,255,0.49);
    border-radius: 16px;
  
    border-collapse: separate; /* Allows for spacing */
    border-spacing: 0px 7px;
  }
  
  .table-header th {
    width: 145px;
  }
  .table-header th:first-child{
    width: 265px;
  }
  
  .table-header-row {
    padding: 6px 15px;
  }
  
  .header-block {
    color:rgba(52, 79, 95, 1);
    padding: 5px 0px;
    padding-right: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'GothamBold';
    
  }